
<p>
    Welcome to agile fitness tracker.  Please tell us a little about goals so we can get started tracking your progress.
</p>

<form name="setGoal" ng-submit="submitted = true" novalidate>
    <div class="form-input row">
        <label class="col-md-3" type="text">How much do you weigh today?</label>
        <input class="col-md-3" name="initialWeight" type="number" ng-model="goal.currentWeight" placeholder="Current Weight" required ng-model-options="{updateOn: 'blur'}" >
        <p class="help-block" ng-show="setGoal.initialWeight.$dirty && setGoal.initialWeight.$invalid">Please enter a valid current weight.</p>
    </div>
    
    <div class="form-input row">
        <label class="col-md-3" type="text">What is your target weight?</label>
        <input class="col-md-3" name="targetWeight" type="number" ng-model="goal.goalWeight" placeholder="Target Weight" required ng-model-options="{updateOn: 'blur'}" >
        <p class="help-block" ng-show="setGoal.targetWeight.$dirty && setGoal.targetWeight.$invalid">Please enter a valid target weight.</p>
    </div>
    
    <div class="form-input row">
        <label type="text" class="col-md-3">When would you like to reach your goal?</label>
        <input class="col-md-3" name="endDate" type="date" ng-model="goal.endDate" required ng-model-options="{updateOn: 'blur'}" >
        <p class="help-block" ng-show="setGoal.endDate.$dirty && setGoal.endDate.$invalid">Please enter a end date.</p>
    </div>
    <div class = "row">
        <span class="col-md-3"></span>
    <button ng-click="goal.create()" class="btn btn-primary btn-sm col-md-3">Set Goal</button>
        </div>
</form>