<p>Welcome to agile fitness tracker.  Please tell us a little about goals so we can get started tracking your progress.</p>

<form name="setGoal" ng-submit="submitted = true" novalidate>
    <div class="form-input">
        <label type="text">How much do you weigh today?</label>
        <input name="initialWeight" type="number" ng-model="goal.initialWeight" placeholder="Current Weight" required ng-model-options="{updateOn: 'blur'}" >
        <p class="help-block" ng-show="setGoal.initialWeight.$dirty && setGoal.initialWeight.$invalid">Please enter a valid current weight.</p>
    </div>
    
    <div class="form-input">
        <label type="text">What is your target weight?</label>
        <input name="targetWeight" type="number" ng-model="goal.targetWeight" placeholder="Target Weight" required ng-model-options="{updateOn: 'blur'}" >
        <p class="help-block" ng-show="setGoal.targetWeight.$dirty && setGoal.targetWeight.$invalid">Please enter a valid target weight.</p>
    </div>
    
    <div class="form-input">
        <label type="text">When would you like to reach your goal?</label>
        <input name="endDate" type="date" ng-model="goal.endDate" required ng-model-options="{updateOn: 'blur'}" >
        <p class="help-block" ng-show="setGoal.endDate.$dirty && setGoal.endDate.$invalid">Please enter a end date.</p>
    </div>
</form>